@font-face {
    font-family: JetBrainsMono;
    src: url('./assets/JetBrainsMono-Medium.woff2');
}

@font-face {
    font-family: LXGWWenKai;
    src: url('./assets/LXGWWenKai-Light.woff');
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: #FFAF74;
    color: #fff;
}

::-moz-selection {
    background: #FFAF74;
    color: #fff;
}

// 应用
#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}
// 标题栏
#header {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #0a0a0a;
}

// 侧边栏
#side {
    position: fixed;
    top: 30px;
    left: 0px;
    bottom: 21px;
    width: 45px;
    background-color: #363636;
}

// 侧边栏面板
#side-panel {
    position: fixed;
    top: 30px;
    left: 45px;
    bottom: 21px;
    width: 300px;
    border-right: 1px solid #484644;
    background-color: #262626;
}

// 容器
#container {
    position: fixed;
    top: 30px;
    left: 346px;
    bottom: 21px;
    right: 0;
    background-color: #262626;
}

// 主面板
#main {}

// 底部面板
#footer {}

// 状态
#status {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    border-top: 1px solid #484644;
    background-color: #323130;
}

// 常用动画

// 自旋
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}